{
    "presets": [
        "@babel/preset-react",
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "corejs": 3,
                "targets": "defaults"
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-transform-strict-mode",
        "@babel/proposal-object-rest-spread",
        "@babel/proposal-class-properties"
    ]
}
