[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
jinja2 = "*"

[dev-packages]
ipdb = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*" 
pytest-flake8 = "*"

[requires]
python_version = "3"
